.seat {
    background-color: green;
    height: 30px;
    width: 35px;
    margin: 2px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .seat.selected {
    background-color:yellow
  }
  
  .seat.occupied {
    background-color: black;
  }
  .seat:nth-of-type(4n) {
    margin-right: 20px;
  }
  .screen {
    background-color: silver;
    height: 70px;
    width: 100%;
    margin: 15px -15px;
    transform: perspective(400px) rotateX(-45deg);
  }
  